{{#partial "content"}}
        <style>
            body{
            background-image:url('https://backgroundcheckall.com/wp-content/uploads/2018/10/background-images-for-professional-websites-4.jpg');
            }
            a:hover{
            background-color:blue;
            color: white;
            }
        </style>
        <div class="container" style="font-size:30px;">
             <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/">HOME</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/departments" role="button" aria-haspopup="true" aria-expanded="false">DEPARTMENTS</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/depts/new">Add a department</a>
                        <a class="dropdown-item" href="/departments">View all departments</a>
                     </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/users" role="button" aria-haspopup="true" aria-expanded="false">USERS</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/user/new">Add a user</a>
                        <a class="dropdown-item" href="/users">View all users</a>
                    </div>
                </li>
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/news" role="button" aria-haspopup="true" aria-expanded="false">NEWS</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/news/new">Add news</a>
                         <a class="dropdown-item" href="/news">View all news</a>
                    </div>
                 </li>
            </ul>
        </div>
        <div>
    <h1 class="text-center" style="font-size:80px; padding-top:14%;">WELCOME TO OUR ORGANISATION <br>NEWS  BOARD</h1>
        </div>
{{/partial}}
{{>layout.hbs}}