<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}ORGANISATIONAL API{{/block}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
<!--    <link rel='stylesheet' href="/css/styles.css">-->

    <style>
         body{
        background-image: url('http://shoppopgallery.com/wp-content/uploads/2019/06/beautiful-backgrounds-44-best-free-background-flower-texture-and-simplistic-satisfying-0.jpg');
        background-color: rgba(255, 255, 255, 0.5);
        background-blend-mode: lighten;
        background-repeat:no-repeat;
        background-size: cover;
        color: black;
        font-family: 'Acme', sans-serif;
        }
        form{
        width: 600px;
        box-shadow: 5px 5px 8px blue;
        font-size:50px;
        background-image:url('https://www.publicdomainpictures.net/pictures/290000/nahled/underwater-sea-background-1548930898k23.jpg');
        }
    </style>
</head>
<body>
   <div class="col-md-12">
        {{#block "content"}}

        {{/block}}
   </div>

    <div class="col-md-12">
        {{#block "footer"}}

        {{/block}}
    </div>
</body>
</html>