{{#partial "content"}}
    <div class="text-center">
    <h2>LIST OF ALL USERS BY DEPARTMENTS</h2>
<hr>
    <div class="container">
        <div class="row" style="font-size: 2em; background-color: grey;">
            <div class="col-sm-2">
                Employee name
            </div>
            <div class="col-sm-2">
                Department ID
            </div>
            <div class="col-sm-2">
                Position
            </div>
        </div>
        <hr >
        {{#if users}}
        {{#each users}}
            <div class="row">
                <div class="col-sm-2">
                    {{username}}
                </div>
                <div class="col-sm-2">
                    {{departid}}
                </div>
                <div class="col-sm-2">
                    {{post}}
                </div>
            </div>
            <hr>
        {{/each}}
        {{/if}}
    </div>
        <a class="btn btn-warning stretched-link" href="/user/new">ADD USER</a>
        <a class="btn btn-primary stretched-link" href="/">BACK</a><br><br>
    </div>
{{/partial}}
{{>layout.hbs}}